.w{
    --background:#CDDEEC;
}
.scanner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #CDDEEc;
    height: 100vh;
  }
  
  .upload-container {
    margin-bottom: 30px;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .upload-container .ion-label {
    font-size: 16px;
    color: #333;
    font-weight: bold;
  }
  
  .upload-container input[type="file"] {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: 2px solid #007bff;
    border-radius: 6px;
    font-size: 14px;
    color: #333;
    background-color: #f0f8ff;
  }
  
  .upload-container input[type="file"]:hover {
    border-color: #0056b3;
  }
  
  .qr-reader-container {
    margin: 20px 0;
    width: 100%;
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
  }
  
  #qr-reader {
    width: 100%;
    height: 300px;
    border: 2px solid #007bff;
    border-radius: 8px;
  }
  
  button {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
    color: white;
  }
  
  /* Processing State */
  .invoice-result {
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .invoice-result h2 {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .invoice-result p {
    white-space: pre-wrap;
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .invoice-result button {
    background-color: #dc3545;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  .invoice-result button:hover {
    background-color: #c82333;
  }
  
  /* Buttons */
  .ion-button {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .ion-button:hover {
    background-color: #0056b3;
  }
  
  /* Custom Styles for Icons */
  .ion-button:disabled {
    background-color: #d6d6d6;
    color: #999;
  }
  
  .ion-button:disabled:hover {
    background-color: #d6d6d6;
  }
  