.ss{
    --background:#CDDEEC;
}
.address-logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .address-logo span {
    margin-left: 8px;
  }
  
  .location-icon {
    font-size: 40px;
    font-weight: bold;
    color: darkblue;
    height: 50px;
  }
  
  .input-container2 {
    position: relative;
    width: 800px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #fff;
    display: flex;
    align-items: center;
   margin-left: 100px;
  }
  
  .input-box {
    flex: 1;
    padding: 10px 40px;
    font-size: 20px;
    border: none;
    outline: none;
    background: none;
    align-items: center;
    text-align:center;
    margin-right: 200px;
   
  }
  
  .input-icon-left {
    position: absolute;
    left: 10px;
    font-size: 20px;
    color: #555;
  }
  
  .input-icon-right {
    position: absolute;
    right: 10px;
    font-size: 20px;
    color: #555;
  }
  .parent{
    margin-top: 20px;
  }
   .shop{
    height: 300px;
    width: 70%;
    background-color: rgb(11, 110, 11);
    margin-left: 80px;
    background-image: url("d1.jpeg");
    background-size: cover;
    border-radius: 10px;
  }
  .shop2{
    height: 300px;
    width: 70%;
    background-color: rgb(36, 0, 128);
    margin-left: 80px;
    background-image: url("d2.jfif");
    background-size: cover;
    border-radius: 10px;
  }
 .shop3{
    height: 300px;
    width: 70%;
    background-color: rgb(128, 0, 9);
    margin-left: 80px;
    border-radius: 10px;
    background-image: url("d3.jfif");
    background-size: cover;
  }
  .location-icon2{
    margin-left: 100px;
    font-size: 40px;
    font-weight: bold;
    color: darkblue;
    height: 50px;
  }
  .s{
    margin-left: 70px;
  }
  .btn{
    margin-left: 100px;
  }
  .star-icon {
    font-size: 24px;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .star-icon.filled {
    color:yellow;
  }
  .stars{
    margin-left: 80px;
  }
  /* .f{
    height: 150px;
    width: 100%;
    background-color: red;
  } */